{% extends 'base.html' %}

{% block description %}
<meta name="description" content="ヲタピックのサポートグループ一覧です。『ヲタピック』は、欅坂46・日向坂46の公式ブログ画像を素早く、効率よく保存できるヲタ活支援サービスです。画像が保存できないと諦めるているあなた、是非当サイトで高画質ブログ画像を保存してください。坂道Gに限らず、対応アイドルのリクエスト等、DMにてお待ちしております。">
{% endblock %}

{% block title %}サポート一覧{% endblock %}

{% block content %}
  <!-- Masthead -->
  <div class="{{ group }}">
  <header class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>
            サポート一覧
          </h1>
          <h4 class="mb-0 text-left">
            現在サポートしているアイドルグループとそのメンバーを確認できます。もしここにあなたの推しメン、またはグループが無ければ、<a href="#contact_info">こちら</a>にお問い合わせください。
          </h4>
        </div>
      </div>
    </div>
  </header>
  </div>

<div class="container text-muted">

    <!-- Group supported -->
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card mt-5 border border-top-0">
        <div class="card-body">
          <h3 class="mb-3">サポート中のグループ</h3>
          <table class="table text-center mb-0">
            <tbody>
              <tr>
                <th scope="row">欅坂46</th>
                <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/?ima=0000">欅坂46公式サイト</a></td>
                <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member?ima=0000">欅坂46公式ブログ</a></td>
              </tr>
              <tr>
                <th scope="row">日向坂46</th>
                <td><a target="_blank" href="https://www.hinatazaka46.com/s/official/?ima=0000">日向坂46公式サイト</a></td>
                <td><a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member?ima=0000">日向坂46公式ブログ</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


    <!-- Member of keyaki supported -->
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card mt-5 border border-top-0">
        <div class="card-body">
          <h3 class="mr-3">サポート中のメンバー(欅坂46)</h3>
          <hr>
          <p>現在サポートしている欅坂46のメンバーを一覧表示します。メンバーリストは<a href="{% url 'search:memberList' %}?group=1">こちら</a>から。</p>
          <div class="collapse" id="collapse_keyaki">
            <table class="table text-center table-striped mb-0">
              <tbody>
                <tr>
                  <th scope="row">石森 虹花</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=01">石森 虹花
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">上村 莉菜</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=03">上村 莉菜
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">尾関 梨香</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=04">尾関 梨香
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">織田 奈那</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=05">織田 奈那
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">小池 美波</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=06">小池 美波
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">小林 由依</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=07">小林 由依
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">齋藤 冬優花</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=08">齋藤
                      冬優花 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">佐藤 詩織</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=09">佐藤 詩織
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">菅井 友香</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=11">菅井 友香
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">鈴本 美愉</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=12">鈴本 美愉
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">長沢 菜々香</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=13">長沢
                      菜々香 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">土生 瑞穂</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=14">土生 瑞穂
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">原田 葵</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=15">原田 葵
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">平手 友梨奈</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=17">平手
                      友梨奈 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">守屋 茜</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=18">守屋 茜
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">渡辺 梨加</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=20">渡辺 梨加
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">渡邉 理佐</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=21">渡邉 理佐
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">井上 梨名</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=43">井上 梨名
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">関 有美子</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=44">関 有美子
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">武元 唯衣</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=45">武元 唯衣
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">田村 保乃</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=46">田村 保乃
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">藤吉 夏鈴</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=47">藤吉 夏鈴
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">松田 里奈</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=48">松田 里奈
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">松平 璃子</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=49">松平 璃子
                      公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">森田 ひかる</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=50">森田
                      ひかる 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">山﨑 天</th>
                  <td><a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member/list?ima=0000&ct=51">山﨑 天
                      公式ブログ</a></td>
                </tr>
              </tbody>
            </table>
            <hr>
          </div>
        </div>

        <div class="row justify-content-center mb-3">
          <div class="search_btn">
            <a class="btn keyaki" data-toggle="collapse" href="#collapse_keyaki" role="button" aria-expanded="false" aria-controls="collapse_keyaki">
              全て表示
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Member of hinata supported -->
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card mt-5 border border-top-0">
        <div class="card-body">
          <h3 class="mr-3">サポート中のメンバー(日向坂46)</h3>
          <hr>
          <p>現在サポートしている日向坂46のメンバーを一覧表示します。メンバーリストは<a href="{% url 'search:memberList' %}?group=2">こちら</a>から。</p>
          <div class="collapse" id="collapse_hinata">
            <table class="table text-center table-striped mb-0">
              <tbody>
                <tr>
                  <th scope="row">井口 眞緒</th>
                  <td><a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=1">井口
                      眞緒 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">潮 紗理菜</th>
                  <td><a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=2">潮
                      紗理菜 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">影山 優佳</th>
                  <td><a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=4">影山
                      優佳 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">加藤 史帆</th>
                  <td><a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=5">加藤
                      史帆 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">齊藤 京子</th>
                  <td><a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=6">齊藤
                      京子 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">佐々木 久美</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=7">佐々木
                      久美 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">佐々木 美玲</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=8">佐々木
                      美玲 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">高瀬 愛奈</th>
                  <td><a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=9">高瀬
                      愛奈 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">高本 彩花</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=10">高本
                      彩花 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">東村 芽依</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=11">東村
                      芽依 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">金村 美玖</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=12">金村
                      美玖 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">河田 陽菜</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=13">河田
                      陽菜 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">小坂 菜緒</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=14">小坂
                      菜緒 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">富田 鈴花</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=15">富田
                      鈴花 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">丹生 明里</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=16">丹生
                      明里 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">濱岸 ひより</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=17">濱岸
                      ひより 公式ブログ</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">松田 好花</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=18">松田
                      好花 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">宮田 愛萌</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=19">宮田
                      愛萌 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">渡邉 美穂</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=20">渡邉
                      美穂 公式ブログ</a></td>
                </tr>
                <tr>
                  <th scope="row">上村 ひなの</th>
                  <td><a target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/member/list?ima=0000&ct=21">上村
                      ひなの 公式ブログ</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr>
          </div>
        </div>

        <div class="row justify-content-center mb-3">
          <div class="search_btn">
            <a class="btn hinata" data-toggle="collapse" href="#collapse_hinata" role="button" aria-expanded="false" aria-controls="collapse_hinata">
              全て表示
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Contact us -->
  <div>
    <div class="mt-5" id="contact_info">
      <h3>お問い合わせ</h3>
    </div>
    <div class="jumbotron mb-5">
      <h2 class="display-5">メールまたはTwitterのDMにてご連絡ください。</h2>
      <hr class="my-4">
      <p>不具合報告、改善の要望等、ご連絡いただければ幸いです。また、機能拡張やサポートアイドルのリクエストもお待ちしております。</p>
      <p>mail:<a target="_blank" href="mailto:otapick210@gmail.com">otapick210@gmail.com</a></p>
      <p>Twitter:<a target="_blank" href="https://twitter.com/otapick">ヲタピック</a></p>
    </div>
  </div>
</div>
{% endblock %}