{% extends 'base.html' %}

{% load static %}

{% block title %}アイドルブログ専用・画像保存ツール{% endblock %}

{% block content %}
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>
            アイドルブログ専用・画像保存ツール
          </h1>
          <h4 class="mb-3">
            ブログのURL、メンバーの名前を入力してください。詳しくは<a href="#howto">こちら</a>
          </h4>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input class="form-control form-control-lg" placeholder="Search">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-success">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Share buttons -->
  <div class="share container my-3">
    <div class="row">
      <div class="sharebtns col-3">
        <div class="twitterbtn">
          <a href="http://twitter.com/share?url=サイトのurl&text=ツイートに表示する文章&via=ツイッターのアカウント名" target="_blank">Twitter</a>
        </div>
      </div>

      <div class="sharebtns col-3">
        <div class="facebookbtn">
          <a href="http://www.facebook.com/sharer.php?u=サイトのurl" target="_blank">Facebook</a>
        </div>
      </div>

      <div class="sharebtns col-3">
        <div class="linebtn">
          <a href="http://line.me/R/msg/text/?投稿する文章とサイトのurl" target="_new">LINE</a>
        </div>
      </div>

      <div class="sharebtns col-3">
        <div class="pocketbtn">
          <a href="http://getpocket.com/edit?url=サイトのurl" target="_blank">Pocket</a>
        </div>
      </div>
    </div>
  </div>



  <!-- Image Showcases -->
  <section class="showcase">
    <div id="howto" class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img background-info"
          style="background-image: url({% static 'img/preview1.png' %}); background-size: contain;"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>ブログから保存したい画像を選びます。</h2>
          <p class="lead mb-0">
            是非そのブログのURLを控えておいてください。最も少ないステップで推しメンの画像を保存できます。PC,スマートフォンなど様々なデバイスでご利用いただけます。<br>
            対応のブログは<a href={% url 'top:support' %}>こちら</a>から確認できます。
          </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img background-info"
          style="background-image: url({% static 'img/preview2.jpeg' %});  background-size: contain;"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>検索にかけます。</h2>
          <p class="lead mb-0">
            準備しておいたURLを当サイトの検索バーにそのまま貼り付けてください。名前を検索して記事を探すことも可能です。その際、メンバーの名前は漢字でもひらがなでも構いません。
          </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img background-info"
          style="background-image: url({% static 'img/preview3.png' %}); background-size: contain;">
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>保存しましょう。</h2>
          <p class="lead mb-0">
            任意の画像を選択して保存することも出来ますし、全ての画像を一度に保存することも出来ます。
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
