{% extends 'base.html' %}

{% block title %}検索結果{% endblock %}

{% block content %}
  <!-- Masthead -->
  <header class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>
            検索結果
          </h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Result -->
  <div class="container text-muted">
    <div class="card my-5">
      <div class="card-header">
        <h3>記事一覧</h3>
      </div>
      <div class="card-body">
        入力されたURLから複数の記事が検出されました。
        <table class="table text-left table-striped mt-4 mb-0">
          <thead>
            <tr>
              <th scope="col">タイトル</th>
              <th scope="col">メンバー</th>
              <th scope="col">投稿日</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a target="_blank"
                  href="https://www.keyakizaka46.com/s/k46o/diary/detail/31819?ima=0000&cd=member">12月4日(1345)【太極拳】</a>
              </td>
              <td>齋藤 冬優花</td>
              <td>2019.12.05</td>
              <td><button class="btn btn-outline-info" type="submit">選択</button></td>
            </tr>
            <tr>
              <td><a target="_blank"
                  href="https://www.keyakizaka46.com/s/k46o/diary/detail/31817?ima=0000&cd=member">短めですが☆彡</a></td>
              <td>小林 由依</td>
              <td>2019.12.04</td>
              <td><button class="btn btn-outline-info" type="submit">選択</button></td>
            </tr>
            <tr>
              <td><a target="_blank"
                  href="https://www.keyakizaka46.com/s/k46o/diary/detail/31816?ima=0000&cd=member">ananさん。</a></td>
              <td>関 有美子</td>
              <td>2019.12.04</td>
              <td><button class="btn btn-outline-info" type="submit">選択</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}