{% extends 'base.html' %}
{% load static %}

{% block description %}
{% if blog %}
<meta name="description" content="{{ blog.title }}({{ blog.writer.full_kanji }})の画像保存ページです。『ヲタピック』は、欅坂46・日向坂46の公式ブログ画像や写真を素早く、効率よく保存できるヲタ活支援サービスです。画像や写真が保存できないと諦めるているあなた、是非当サイトで高画質ブログ画像を保存してください。坂道Gに限らず、対応アイドルのリクエスト等、DMにてお待ちしております。">
{% else %}
<meta name="description" content="ヲタピックの画像保存ページです。『ヲタピック』は、欅坂46・日向坂46の公式ブログ画像や写真を素早く、効率よく保存できるヲタ活支援サービスです。画像や写真が保存できないと諦めるているあなた、是非当サイトで高画質ブログ画像を保存してください。坂道Gに限らず、対応アイドルのリクエスト等、DMにてお待ちしております。">
{% endif %}
{% endblock %}

{% block title %}{% if title and writer_name %}{{ title }}({{ writer_name }}){% else %}画像保存{% endif %}{% endblock %}

{% block out_of_main %}
<div class="main-download">
  <div class="position-absolute h-100 w-100 d-flex align-items-center justify-content-center"
       style="overflow: hidden;">
    <div class="container text-center px-0 mx-0">
      <h2 class="ml-3 now-loading">Now Loading...</h2>

      <div class="write_box">
        <div class="img-wrap">
          <img src="{% static 'img/otapick_logo_back.png' %}" class="img-fluid mb-5 col-lg-5 col-md-8 col-11"
               alt="Responsive image">
        </div>

        <div class="img-wrap-before">
        </div>
      </div>

      <h3 class="progress-info">「{% if title %}{{ title }}{% endif %}」に含まれる画像を取得中です。</h3>
      <div class="progress">
        <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="{{ progress.num }}"
             aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.num }}%">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script id="progress_ajax-script" type="text/javascript" src="{% static 'js/otapick/image/progress_ajax.js' %}{{ static_update }}"></script>
<script type="text/javascript" src="{% static 'js/otapick/image/download_direct.js' %}{{ static_update }}"></script>
<script>
$(function () {
  {% if historyBackIsToTop %}
  get_progress_num("{% url 'image:image' group_id blog_ct %}", true);
  {% else %}
  get_progress_num("{% url 'image:image' group_id blog_ct %}", false);
  {% endif %}
  $("footer").hide();
  $("#copyright").hide();
});
</script>
{% endblock %}