{% extends 'base.html' %}

{% block title %}
メンバー検索
{% endblock %}

{% block content %}
<!-- Masthead -->
  <div class="{{ group }}">
    <header class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1>
              検索結果
            </h1>
          </div>
        </div>
      </div>
    </header>
  </div>

<!-- Result -->
<div class="container text-muted">
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card mt-5">
        <div class="card-body">
          <form>
            <div class="container">
              <div class="row justify-content-between">
                <h3 class="col-md-6 col-12">メンバー検索</h3>
                <div class="form-row col-md-6 col-12 justify-content-center">
                  <input class="col-9 col-sm-9 col-xs-10 form-control autocomplete" type="search" placeholder="Search" aria-label="Search" name="q_member" autocomplete="off">
                  <div class="search_btn_min">
                    <button type="submit" class="btn my-0 px-3 ml-1 ml-xs-5 {{ group }}">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if object_list %}
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card my-5">
        <div class="card-body">
          "{% if searchText %}{{ searchText }}{% endif %}"({{ object_list|length }}件)
          <table class="table table-hover text-left mt-4 mb-0">
            <thead>
              <tr>
                <th scope="col" style="width:40%">名前</th>
                <th scope="col" style="width:35%">所属グループ</th>
                <th scope="col" style="width:30%; text-align: center; vertical-align: middle;"></th>
              </tr>
            </thead>
            <tbody>
              {% for member in object_list %}
              <tr>
                <td>{{ member.last_kanji }} {{ member.first_kanji }}</td>
                <td>{{ member.belonging_group.name }}</td>
                <td>
                    <div class="outline">
                      {% if member.belonging_group.group_id == 1 %}
                          <a class="btn keyaki" href="{% url 'search:searchByMembers' member.belonging_group.group_id member.ct %}" role="button">
                            <span>選択</span>
                          </a>
                      {% elif member.belonging_group.group_id == 2 %}
                          <a class="btn hinata" href="{% url 'search:searchByMembers' member.belonging_group.group_id member.ct %}" role="button">
                            <span>選択</span>
                          </a>
                      {% endif %}
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% else %}
    <div class="otapick_card_back">
      <div class="otapick_card {{ group }}">
        <div class="card my-5">
          <div class="card-body">
            "{% if searchText %}{{ searchText }}{% endif %}"({{ object_list|length }}件)
            <div class="alert alert-danger mt-3" role="alert">
              条件に一致するメンバーは見つかりませんでした。
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}