{% extends 'base.html' %}

{% load static %}

{% block description %}
<meta name="description" content="ヲタピックのブログ検索結果です。『ヲタピック』は、欅坂46・日向坂46の公式ブログ画像を素早く、効率よく保存できるヲタ活支援サービスです。画像が保存できないと諦めるているあなた、是非当サイトで高画質ブログ画像を保存してください。坂道Gに限らず、対応アイドルのリクエスト等、DMにてお待ちしております。">
{% endblock %}

{% block title %}
{% if hit %}
{% if group_id %}{% if group_id == 1 %}欅坂46{% elif group_id == 2 %}日向坂46{% endif %}{% endif %}
のブログ一覧
{% else %}
検索結果
{% endif %}
{% endblock %}

{% block content %}
<!-- Masthead -->
<div class="{{ group }}">
  <header class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>
            検索結果
          </h1>
        </div>
      </div>
    </div>
  </header>
</div>

{% if hit %}
<!-- Result -->
<div class="container text-muted">
  <div class="otapick_card_back mb-4">
    <div class="otapick_card {{ group }}">
      <div class="card mt-5 mb-3 border border-top-0">
        <div class="card-body">
          <h3>ブログ一覧</h3>
          <hr>
          入力されたURLから複数のブログが検出されました。
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-2 mb-5">
    <div class="row">
    {% for blog in object_list %}
      <div class="otapick_card_back col-6 col-md-4 col-lg-3 mb-3 px-2 px-sm-3">
        <div class="otapick_card {{ group }}">
          <div class="card border border-top-0">
            <div class="l-thumbnail">
            {% if isMobile %}
              <a href="{% url 'download:download' group_id blog.blog_ct %}">
                <figure class="thumbnail-wrapper-mobile">
                  {% if blog.thumbnail %}
                  <img class="card-img-top newpost-thumbnail" src="{{ blog.thumbnail.picture.url }}">
                  {% else %}
                  <img class="card-img-top newpost-thumbnail" src="{% static 'img/imageNotFound_newpost.png' %}">
                  {% endif %}
                </figure>
              </a>
            {% else %}
              <a href="{% url 'download:download' group_id blog.blog_ct %}">
                <figure class="thumbnail-wrapper">
                  {% if blog.thumbnail %}
                  <img class="card-img-top newpost-thumbnail" src="{{ blog.thumbnail.picture.url }}">
                  {% else %}
                  <img class="card-img-top newpost-thumbnail" src="{% static 'img/imageNotFound_newpost.png' %}">
                  {% endif %}
                </figure>
              </a>
              <span class="more-button">
                <div class="row justify-content-around">
                  <div class="col-4 p-0 mr-2">
                    {% if group_id == 1 %}
                    <a href="https://www.keyakizaka46.com/s/k46o/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member"
                      style="color: white;" target="_blank" data-toggle="tooltip" title="公式ブログで確認">
                      <i class="fas fa-external-link-alt"></i>
                    </a>
                    {% elif group_id == 2 %}
                    <a href="https://www.hinatazaka46.com/s/official/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member"
                      style="color: white;" target="_blank" data-toggle="tooltip" title="公式ブログで確認">
                      <i class="fas fa-external-link-alt"></i>
                    </a>
                    {% endif %}
                  </div>
                  <div class="col-4 p-0 ml-2">
                    <a href="{% url 'download:download' group_id blog.blog_ct %}" style="color: white;"
                      data-toggle="tooltip" title="ダウンロードページへ">
                      <i class="fas fa-download"></i>
                    </a>
                  </div>
                </div>
              </span>
            {% endif %}

            </div>
            <div class="card-body pb-0 px-3 px-sm-4 pt-3">
              <a href="{% url 'download:download' group_id blog.blog_ct %}" style="color: dimgray;">
                <h6 class="card-title newpost-title blog-title">{{ blog.title }}</h6>
              </a>
              <div class="row">
                <a href="{% url 'search:searchByMembers' group_id blog.writer.ct %}"
                  class="card-text ml-3 small mb-2 pb-0 card-info {{ group }} writer-name">{{ blog.writer.full_kanji }}</a>
                <p class="card-text ml-3 small mb-2 pb-0 card-info">{{ blog.post_date|date:"y/n/j" }}</p>
              </div>

              <div class="container mb-2">
                <div class="row">

                  <div class="col-4 card-parameter d-flex justify-content-center align-items-center">
                    <div class="row justify-content-around">
                      <div class="d-flex align-items-center">
                        <i class="fas fa-eye" style="color: grey"></i>
                      </div>
                      &nbsp;
                      <div class="card-parameter-num">
                        {% if blog.num_of_views %}
                          {{ blog.num_of_views }}
                        {% else %}
                          0
                        {% endif %}
                      </div>
                    </div>
                  </div>

                  <div class="dropdown col-4 text-center" style="overflow-y:visible;">
                    <div class="card-detail-button-super">
                      <button type="button" class="btn btn-light rounded-circle p-0 card-detail-button"
                        id="thumbnailDetail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars" style="color:gray;"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="thumbnailDetail">
                        <a class="dropdown-item" href="{% url 'download:download' group_id blog.blog_ct %}">ダウンロードページへ</a>
                        {% if group_id == 1 %}
                        <a class="dropdown-item" target="_blank"
                          href="https://www.keyakizaka46.com/s/k46o/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member">公式ブログで確認</a>
                        {% elif group_id == 2 %}
                        <a class="dropdown-item" target="_blank"
                           href="https://www.hinatazaka46.com/s/official/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member">公式ブログで確認</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>

                  <div class="col-4 card-parameter d-flex justify-content-center align-items-center">
                    <div class="row justify-content-around">
                      <div class="d-flex align-items-center">
                        <i class="fas fa-download" style="color: grey"></i>
                      </div>
                      &nbsp;
                      <div class="card-parameter-num">
                        {% if blog.num_of_downloads %}
                          {{ blog.num_of_downloads }}
                        {% else %}
                          0
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

{% else %}
<!-- Result notFound -->
<div class="container text-muted">
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card my-5 border border-top-0">
        <div class="card-body">
          <h3 class="mb-4">URL検索</h3>
          <hr>
          <div class="alert alert-danger" role="alert">
            入力されたURLのページからブログが見つかりませんでした。
          </div>
          <p class="mx-3">
            入力されたURLのページにブログ情報が含まれているか今一度ご確認ください。<br>
            <i class="fas fa-hand-point-right"></i>
            <a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member?ima=0000">欅坂46公式ブログ</a>や
            <a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member?ima=0000">日向坂46公式ブログ</a>から
            ブログを探していただくと確実です。<br>
            <i class="fas fa-hand-point-right"></i>
            ページに複数のブログ情報が含まれていてもかまいませんが、個別ページのURLを入力していただくと直ぐに画像保存をしていただけます。<br>
            <i class="fas fa-hand-point-right"></i>
            URL検索以外にも<a href="{% url 'search:memberList' %}">こちら</a>でメンバーから探すこともできます。
          </p>
          <div class="container">
            <div class="row justify-content-center">
              <div class="notFoundBox col-12 col-md-10 col-xl-8"
                style="background-image: url({% static 'img/blogNotFound.png' %});"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/otapick/rewrite_card_text.js' %}"></script>
<script type="text/javascript" src="{% static 'js/otapick/searchByBlogs.js' %}"></script>
{% endblock %}