{% extends 'base.html' %}

{% load static %}

{% block title %}
{% if member %}{{ member.full_kanji }}{% endif %}({% if group_id == 1 %}欅坂46{% elif group_id == 2 %}日向坂46{% endif %})
の記事一覧
{% endblock %}

{% block content %}
<!-- Masthead -->
  <div class="{{ group }}">
    <header class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1>
              ブログ一覧
            </h1>
            <h4 class="mb-0">
              {% if member %}{{ member.last_kanji }} {{ member.first_kanji }}{% endif %}
            </h4>
          </div>
        </div>
      </div>
    </header>
  </div>

<!-- Result -->
<div class="container text-muted">
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card mt-5 mb-3">
        <div class="card-body">
          <h3>
            {% if member %}{{ member.full_kanji }}{% endif %}
          </h3>
          <hr>
          {% if member %}{{ member.full_kanji }}{% endif %}({% if group_id == 1 %}欅坂46{% elif group_id == 2 %}日向坂46{% endif %})
          のブログ一覧を表示します。
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-7">
        <p>検索結果（<b>{{ page_obj.paginator.count }}</b>件）</p>
      </div>
      <div class="col-5 text-right">
        <div class="btn-group" style="border: solid 1px silver; border-radius: 5%">
          <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if order_format == 'older_post' %}
              <i class="fas fa-sort"></i> 古い順
            {% else %}
              <i class="fas fa-sort"></i> 新着順
            {% endif %}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'search:searchByMembers' group_id ct %}?sort=newer_post">新着順</a>
            <a class="dropdown-item" href="{% url 'search:searchByMembers' group_id ct %}?sort=older_post">古い順</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-2 mb-5">
    <div class="row">
      {% for blog in object_list %}
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="otapick_card_back">
          <div class="otapick_card {{ group }}">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <div class="row">
                  <p class="card-text ml-3">{{ blog.writer.full_kanji }}</p>
                  <p class="card-text ml-3">{{ blog.post_date|date:"y/n/j" }}</p>
                </div>
                <div class="row mx-auto" style="width: 180px;">
                  <div class="outline">
                    {% if group_id == 1 %}
                      <a class="btn {{ group }}" target="_blank"
                         href="https://www.keyakizaka46.com/s/k46o/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member"
                         role="button">
                        <span>確認</span>
                      </a>
                    {% elif group_id == 2 %}
                      <a class="btn {{ group }}" target="_blank"
                         href="https://www.hinatazaka46.com/s/official/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member"
                         role="button">
                        <span>確認</span>
                      </a>
                    {% endif %}
                  </div>
                  <div class="rounded ml-3">
                    <a class="btn {{ group }}" href="{% url 'download:download' group_id blog.blog_ct %}" role="button">
                      <span>選択</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 py-2">
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" style="color:gray;">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                {%endif %}
                {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                    <li class="page-item active">
                      <div class="page_btn" style="height: 100%;">
                        <a class="page-link {{ group }}" href="" style="border: transparent; height: 101%;">{{ num }}</a>
                      </div>
                    </li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}" style="color:gray;">{{ num }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" style="color:gray;">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/responsive-paginate.js' %}"></script>
<script>
  $(document).ready(function () {
    $(".pagination").rPage();
  });
</script>
{% endblock %}