{% extends 'base.html' %}

{% load static %}

{% block title %}
{% if hit %}
{% if group_id %}{% if group_id == 1 %}欅坂46{% elif group_id == 2 %}日向坂46{% endif %}{% endif %}
のブログ一覧
{% else %}
検索結果
{% endif %}
{% endblock %}

{% block content %}
<!-- Masthead -->
<div class="{{ group }}">
  <header class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>
            検索結果
          </h1>
        </div>
      </div>
    </div>
  </header>
</div>

{% if hit %}
<!-- Result -->
<div class="container text-muted">
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card mt-5 mb-3">
        <div class="card-body">
          <h3>ブログ一覧</h3>
          <hr>
          入力されたURLから複数のブログが検出されました。
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-2 mb-5">
    <div class="grid">
      <div class="grid-sizer col-6 col-md-4 col-lg-3"></div>
      {% for blog in object_list %}
      <div class="grid-item col-6 col-md-4 col-lg-3 my-2">
        <div class="otapick_card_back">
          <div class="otapick_card {{ group }}">
            <div class="card">
              <div class="l-thumbnail">
                <a href="{% url 'download:download' group_id blog.blog_ct %}">
                  <figure class="thumbnail-wrapper">
                    {% if blog.thumbnail %}
                    <img class="card-img-top" src="{{ blog.thumbnail.picture.url }}" style="border-radius: 0;">
                    {% else %}
                    <img class="card-img-top" src="{% static 'img/otapick.png' %}" style="border-radius: 0;">
                    {% endif %}
                  </figure>
                </a>
                <span class="more-button">
                  <div class="row justify-content-around">
                    <div class="col-4 p-0 mr-2">
                      {% if group_id == 1 %}
                      <a href="https://www.keyakizaka46.com/s/k46o/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member"
                        style="color: white;" target="_blank" data-toggle="tooltip" title="公式ブログで確認">
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                      {% elif group_id == 2 %}
                      <a href="https://www.hinatazaka46.com/s/official/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member"
                        style="color: white;" target="_blank" data-toggle="tooltip" title="公式ブログで確認">
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                      {% endif %}
                    </div>
                    <div class="col-4 p-0 ml-2">
                      <a href="{% url 'download:download' group_id blog.blog_ct %}" style="color: white;"
                        data-toggle="tooltip" title="ダウンロードページへ">
                        <i class="fas fa-download"></i>
                      </a>
                    </div>
                  </div>
                </span>
              </div>
              <div class="card-body pb-0">
                <a href="{% url 'download:download' group_id blog.blog_ct %}" style="color: dimgray;">
                  <h6 class="card-title">{{ blog.title }}</h6>
                </a>
                <div class="row">
                  {% if group_id == 1 %}
                  <a href="{% url 'search:searchByMembers' group_id blog.writer.ct %}"
                    class="card-text ml-3 small mb-2 pb-0" style="color: limegreen;">
                    {{ blog.writer.full_kanji }}
                  </a>
                  {% elif group_id == 2 %}
                  <a href="{% url 'search:searchByMembers' group_id blog.writer.ct %}"
                    class="card-text ml-3 small mb-2 pb-0" style="color: deepskyblue;">
                    {{ blog.writer.full_kanji }}
                  </a>
                  {% endif %}
                  <p class="card-text ml-3 small mb-2 pb-0">{{ blog.post_date|date:"y/n/j" }}</p>
                </div>
                <div class="dropdown text-center mb-2">
                  <button type="button" class="btn btn-light rounded-circle p-0" style="width:2rem;height:2rem;"
                    id="thumbnailDetail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars" style="color:gray;"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="thumbnailDetail">
                    <a class="dropdown-item" href="{% url 'download:download' group_id blog.blog_ct %}">ダウンロードページへ</a>
                    {% if group_id == 1 %}
                    <a class="dropdown-item" target="_blank"
                      href="https://www.keyakizaka46.com/s/k46o/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member">公式ブログで確認</a>
                    {% elif group_id == 2 %}
                    <a class="dropdown-item" target="_blank"
                      href="https://www.hinatazaka46.com/s/official/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member">公式ブログで確認</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% else %}
<!-- Result notFound -->
<div class="container text-muted">
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card my-5">
        <div class="card-body">
          <h3 class="mb-4">URL検索</h3>
          <hr>
          <div class="alert alert-danger" role="alert">
            入力されたURLのページからブログが見つかりませんでした。
          </div>
          <p class="mx-3">
            入力されたURLのページにブログ情報が含まれているか今一度ご確認ください。<br>
            <i class="fas fa-hand-point-right"></i>
            <a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member?ima=0000">欅坂46公式ブログ</a>や
            <a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member?ima=0000">日向坂46公式ブログ</a>から
            ブログを探していただくと確実です。<br>
            <i class="fas fa-hand-point-right"></i>
            ページに複数のブログ情報が含まれていてもかまいませんが、個別ページのURLを入力していただくと直ぐに画像保存をしていただけます。<br>
            <i class="fas fa-hand-point-right"></i>
            URL検索以外にも<a href="{% url 'search:memberList' %}">こちら</a>でメンバーから探すこともできます。
          </p>
          <div class="container">
            <div class="row justify-content-center">
              <div class="notFoundBox col-12 col-md-10 col-xl-8"
                style="background-image: url({% static 'img/blogNotFound.png' %});"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
<script>$('[data-toggle="tooltip"]').tooltip();</script>
{% endblock %}