{% extends 'base.html' %}

{% load static %}

{% block title %}
メンバーリスト
{% endblock %}

{% block extra_css %}
  <style>
  .keyaki_initial .ini_active{
    background-color: lightgreen;
  }
  .hinata_initial .ini_active{
    background-color: lightskyblue;
  }
  </style>
{% endblock %}

{% block content %}
<!-- Masthead -->
  <div class="{{ group }}">
    <header class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1>
              メンバーリスト
            </h1>
          </div>
        </div>
      </div>
    </header>
  </div>

<!-- Result -->
<div class="container text-muted">
  <div class="otapick_card_back">
      <div class="otapick_card {{ group }}">
        <div class="card mt-5">
          <div class="card-body">
            <form>
              <div class="container">
                <div class="row justify-content-between">
                  <h3 class="col-md-6 col-12">メンバーリスト</h3>
                  <div class="form-row col-md-6 col-12 justify-content-center">
                    <input class="col-9 col-sm-9 col-xs-10 form-control autocomplete" type="search" placeholder="メンバーの名前を入力" aria-label="Search" name="q_member">
                    <div class="search_btn_min">
                      <button type="submit" class="btn my-0 px-3 ml-1 ml-xs-5 {{ group }}">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <hr>
                サポートしているメンバーを一覧表示します。
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  <div class="otapick_card_back">
      <div class="otapick_card {{ group }}">
        <div class="card my-5">
          <div class="card-body">
            <ul class="nav nav-tabs" id="groupTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="keyaki-tab" data-toggle="tab" href="#keyaki" role="tab"
                   aria-controls="keyaki" aria-selected="false" style="color: limegreen;">欅坂46</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="hinata-tab" data-toggle="tab" href="#hinata" role="tab"
                   aria-controls="hinata" aria-selected="false" style="color: deepskyblue;">日向坂46</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade active" id="keyaki" role="tabpanel" aria-labelledby="keyaki-tab">
                <div class="btn-group　mx-auto ml-1 mt-2 keyaki_initial" role="group">
                  <a href="{% url 'search:memberList' %}?initial=あ&s_group=1" class="btn btn-light initial initial_a mb-1">あ</a>
                  <a href="{% url 'search:memberList' %}?initial=か&s_group=1" class="btn btn-light initial initial_k mb-1">か</a>
                  <a href="{% url 'search:memberList' %}?initial=さ&s_group=1" class="btn btn-light initial initial_s mb-1">さ</a>
                  <a href="{% url 'search:memberList' %}?initial=た&s_group=1" class="btn btn-light initial initial_t mb-1">た</a>
                  <a href="{% url 'search:memberList' %}?initial=な&s_group=1" class="btn btn-light initial initial_n mb-1">な</a>
                  <a href="{% url 'search:memberList' %}?initial=は&s_group=1" class="btn btn-light initial initial_h mb-1">は</a>
                  <a href="{% url 'search:memberList' %}?initial=ま&s_group=1" class="btn btn-light initial initial_m mb-1">ま</a>
                  <a href="{% url 'search:memberList' %}?initial=や&s_group=1" class="btn btn-light initial initial_y mb-1">や</a>
                  <a href="{% url 'search:memberList' %}?initial=ら&s_group=1" class="btn btn-light initial initial_r mb-1">ら</a>
                  <a href="{% url 'search:memberList' %}?initial=わ&s_group=1" class="btn btn-light initial initial_w mb-1">わ</a>
                </div>
                {% if keyaki_exist %}
                <table class="table table-hover text-left mt-4 mb-0">
                  <thead>
                    <tr>
                      <th scope="col" style="width:40%">名前</th>
                      <th scope="col" style="width:35%">所属グループ</th>
                      <th scope="col" style="width:30%; text-align: center; vertical-align: middle;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for member in object_list %}
                      {% if member.belonging_group.group_id == 1 %}
                        <tr>
                          <td>{{ member.last_kanji }} {{ member.first_kanji }}</td>
                          <td>欅坂46</td>
                          <td>
                              <div class="outline">
                                <a class="btn keyaki" href="{% url 'search:searchByMembers' 1 member.ct %}" role="button">
                                  <span>選択</span>
                                </a>
                              </div>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                  <div class="alert alert-danger mt-3" role="alert">
                    条件に一致するメンバーは見つかりませんでした。
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="notFoundBox col-12 col-md-10 col-xl-8" style="background-image: url({% static 'img/memberNotFound.png' %});"></div>
                    </div>
                  </div>
                {% endif %}
              </div>
              <div class="tab-pane fade" id="hinata" role="tabpanel" aria-labelledby="hinata-tab">
                <div class="btn-group　mx-auto ml-1 mt-2 hinata_initial" role="group">
                  <a href="{% url 'search:memberList' %}?initial=あ&s_group=2" class="btn btn-light initial initial_a mb-1">あ</a>
                  <a href="{% url 'search:memberList' %}?initial=か&s_group=2" class="btn btn-light initial initial_k mb-1">か</a>
                  <a href="{% url 'search:memberList' %}?initial=さ&s_group=2" class="btn btn-light initial initial_s mb-1">さ</a>
                  <a href="{% url 'search:memberList' %}?initial=た&s_group=2" class="btn btn-light initial initial_t mb-1">た</a>
                  <a href="{% url 'search:memberList' %}?initial=な&s_group=2" class="btn btn-light initial initial_n mb-1">な</a>
                  <a href="{% url 'search:memberList' %}?initial=は&s_group=2" class="btn btn-light initial initial_h mb-1">は</a>
                  <a href="{% url 'search:memberList' %}?initial=ま&s_group=2" class="btn btn-light initial initial_m mb-1">ま</a>
                  <a href="{% url 'search:memberList' %}?initial=や&s_group=2" class="btn btn-light initial initial_y mb-1">や</a>
                  <a href="{% url 'search:memberList' %}?initial=ら&s_group=2" class="btn btn-light initial initial_r mb-1">ら</a>
                  <a href="{% url 'search:memberList' %}?initial=わ&s_group=2" class="btn btn-light initial initial_w mb-1">わ</a>
                </div>
                {% if hinata_exist %}
                <table class="table table-hover text-left mt-4 mb-0">
                  <thead>
                    <tr>
                      <th scope="col" style="width:40%">名前</th>
                      <th scope="col" style="width:35%">所属グループ</th>
                      <th scope="col" style="width:30%; text-align: center; vertical-align: middle;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for member in object_list %}
                      {% if member.belonging_group.group_id == 2 %}
                        <tr>
                          <td>{{ member.last_kanji }} {{ member.first_kanji }}</td>
                          <td>日向坂46</td>
                          <td>
                              <div class="outline">
                                <a class="btn hinata" href="{% url 'search:searchByMembers' 2 member.ct %}" role="button">
                                  <span>選択</span>
                                </a>
                              </div>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                  <div class="alert alert-danger mt-3" role="alert">
                    条件に一致するメンバーは見つかりませんでした。
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="notFoundBox col-12 col-md-10 col-xl-8" style="background-image: url({% static 'img/memberNotFound.png' %});"></div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function(){
        {% if initial %}
          $('.initial_{{ initial }}').addClass('ini_active');
        {% endif %}
        const $hinata = $('#groupTab a[href="#hinata"]');
        const $keyaki = $('#groupTab a[href="#keyaki"]');
        {% if forced_group == '1' %}
            $keyaki.tab('show');
        {% elif forced_group == '2' %}
            $hinata.tab('show');
        {% else %}
            {% if selected_group == '1' %}
                $keyaki.tab('show');
            {% elif selected_group == '2' %}
                $hinata.tab('show');
            {% else %}
                {% if group == 'keyaki' %}
                    $keyaki.tab('show');
                {% else %}
                    $hinata.tab('show');
                {% endif %}
            {% endif %}
        {% endif %}
    });

    $('.keyaki_initial .initial').click(function() {
        if($(this).hasClass('ini_active')){
            $(this).attr("href", "{% url 'search:memberList' %}?group=1");
        }
    });
    $('.hinata_initial .initial').click(function() {
        if($(this).hasClass('ini_active')){
            $(this).attr("href", "{% url 'search:memberList' %}?group=2");
        }
    });

  </script>
{% endblock %}