{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}｜ヲタピック</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

  <link href="{% static 'css/bootstrap_ex.css' %}" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css"/>

  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <style>img.emoji { height: 1em; width: 1em; margin: 0 .05em 0 .1em; vertical-align: -0.1em;}</style>

  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  {% block extra_css %}{% endblock %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134426000-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134426000-2');
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'top:top' %}"
     style="background: url({% static 'img/otapick.png' %}) no-repeat left center; background-size: contain;
             height: 50px; width: 170px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-5 mr-sm-0">
      <li class="nav-item">
        <a class="nav-link mr-3" href={% url 'search:memberList' %}>メンバーから探す</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-3" href={% url 'top:top' %}#howto>つかい方</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-3" href={% url 'top:support' %}>サポート</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 justify-content-center" autocomplete="off">
      <input class="col-9 form-control autocomplete" type="search" placeholder="Search" aria-label="Search" name="q">
      <div class="search_btn_min col-3">
        <button type="submit" class="btn my-0 px-3 {{ group }}">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </div>
</nav>

{% block content %}{% endblock %}

<!-- Sub searcher -->
<div class={{ group }}>
<section class="call-to-action text-white text-center mt-3">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">アイドルブログ専用・画像保存ツール</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form autocomplete="off">
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input class="form-control form-control-lg autocomplete" placeholder="Search" name="q">
            </div>
            <div class="col-12 col-md-3">
              <div class="search_btn">
                <button type="submit" class="btn btn-block btn-lg {{ group }}">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</div>

<!-- Footer -->
<footer class="footer bg-light">
  <div class="h-100 text-center my-auto">
{#    <p class="text-muted small mb-4 mb-lg-0">Copyright &copy; <a href="http://proative.net" target="_blank">PROATIVE</a> 2019 All rights reserved.</p>#}
    <p class="text-muted small mb-4 mb-lg-0">Copyright &copy; PROATIVE 2020 All rights reserved.</p>
  </div>
</footer>


<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script>
   $(function() {
       $.ui.autocomplete.prototype._renderItem = function(ul, item) {
           return $("<li>").append("<a href='" + "/search/member/blog/" + item.group_id + "/" + item.ct + "/" + "'>" + item.name + "</a>").appendTo(ul);
       };

       $("input.autocomplete").autocomplete({
           source: function(req, res){
               $.ajax({
                   url: "{% url 'search:autocomplete' %}?input=" + encodeURIComponent(req.term),
                   type: "get",
                   cache: false,
                   dataType: "json",
                   success: function(data) {
                       res(data);
                   },
               });
           },
           focus: function(event, ui) {
              $("input.autocomplete").val(ui.item.name);
              return false;
           },
           select: function(event, ui) {
               window.location.href = "/search/member/blog/" + ui.item.group_id + "/" + ui.item.ct + "/";
              return false;
           },
           delay: 0,
           minLength: 2,
       });
    });
</script>

<script>
  twemoji.parse(document.body);
</script>
{% block extra_js %}{% endblock %}
</body>

</html>