{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block description %}{% endblock %}
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}｜ヲタピック</title>
  <link rel="index" href="{% url 'top' %}" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
  {% bootstrap_javascript %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <link href="{% static 'css/bootstrap_ex.css' %}{{ static_update }}" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">

  <!-- twemoji -->
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <style>
    img.emoji {
      height: 1em;
      width: 1em;
      margin: 0 .05em 0 .1em;
      vertical-align: -0.1em;
    }
  </style>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}{{ static_update }}" />

  {% block extra_css %}{% endblock %}
  {% if not debug %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134426000-2"></script>
  <script>
    var $gaMeasurementID = 'UA-134426000-2';
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', $gaMeasurementID);
  </script>

  <!-- Global Adsense -->
  <script data-ad-client="ca-pub-3712313672767903" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  {% endif %}
</head>

<body ontouchstart="">
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top navbar-expand-lg fixed-top border-bottom">
    <a class="navbar-brand" href="{% url 'top' %}" style="background: url({% static 'img/otapick.png' %}{{ static_update }}) no-repeat left center; background-size: contain;
             height: 50px; width: 170px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline mt-3 mb-2 my-lg-0 justify-content-center col" autocomplete="off">
        <input class="col form-control autocomplete" type="search" placeholder="Search" aria-label="Search" name="q">
      </form>
      <ul class="navbar-nav mx-4 mx-lg-0">
        <li class="nav-item dropdown" id="nav-dropdown1">
          <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ブログ一覧
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="nav-dropdown-menu1">
            <a class="dropdown-item" href="{% url 'main:searchByGroups' 1 %}">欅坂46</a>
            <a class="dropdown-item" href="{% url 'main:searchByGroups' 2 %}">日向坂46</a>
            <a class="dropdown-item" href="{% url 'top' %}#newpost">新着ブログ</a>
            <a class="dropdown-item" href="{% url 'top' %}#popular">人気ブログ</a>
            <a class="dropdown-item" href="{% url 'main:memberList' %}">メンバーリスト</a>
          </div>
        </li>

        <li class="nav-item dropdown" id="nav-dropdown2">
          <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            公式
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="nav-dropdown-menu2">
            <a class="dropdown-item" href="https://www.keyakizaka46.com/s/k46o/diary/member?ima=0000"
              target="_blank">欅坂46公式ブログ <i class="fas fa-external-link-alt"></i></a>
            <a class="dropdown-item" href="https://www.hinatazaka46.com/s/official/diary/member?ima=0000"
              target="_blank">日向坂46公式ブログ <i class="fas fa-external-link-alt"></i></a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link mr-3" href="{% url 'top' %}#howto">つかい方</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-0" href="{% url 'support' %}">サポート</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main">{% block content %}{% endblock %}</div>

  {% block out_of_main %}{% endblock %}

  <!-- Footer -->
  <footer class="footer bg-light text-muted mt-5">
    <div class="container">
      <div class="row">

        <div class="col-xl-3 col-lg-12 col-xs-12 text-center mb-5">
          <a class="navbar-brand ml-4 ml-xl-0" href="{% url 'top' %}" style="background: url({% static 'img/otapick.png' %}{{ static_update }}) no-repeat left center; background-size: contain;
             height: 50px; width: 170px;"></a>
        </div>

        <div class="col-xl-3 col-lg-4 col-xs-12">
          <ul class="footer-menu">
            <span class="font-weight-bold">ブログを探す</span>
            <hr class="my-1 mr-4 mr-lg-0">
            <li>
              <a href="{% url 'main:searchByGroups' 1 %}">欅坂46 ブログ一覧</a>
            </li>
            <li>
              <a href="{% url 'main:searchByGroups' 2 %}">日向坂46 ブログ一覧</a>
            </li>
            <li>
              <a href="{% url 'top' %}#newpost">新着ブログ</a>
            </li>
            <li>
              <a href="{% url 'top' %}#popular">人気ブログ</a>
            </li>
            <li>
              <a href="{% url 'main:memberList' %}">メンバーリスト</a>
            </li>
          </ul>
        </div>

        <div class="col-xl-3 col-lg-4 col-xs-12">
          <ul class="footer-menu">
            <span class="font-weight-bold">公式リンク</span>
            <hr class="my-1 mr-4 mr-lg-0">
            <li>
              <a target="_blank" href="https://www.keyakizaka46.com/s/k46o/diary/member?ima=0000">欅坂46 公式ブログ <i
                  class="fas fa-external-link-alt"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://www.keyakizaka46.com/s/k46o/?ima=0000">欅坂46 公式サイト <i
                  class="fas fa-external-link-alt"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://www.hinatazaka46.com/s/official/diary/member?ima=0000">日向坂46 公式ブログ <i
                  class="fas fa-external-link-alt"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://www.hinatazaka46.com/s/official/?ima=0000">日向坂46 公式サイト <i
                  class="fas fa-external-link-alt"></i></a>
            </li>
          </ul>
        </div>

        <div class="col-xl-3 col-lg-4 col-xs-12">
          <ul class="footer-menu">
            <span class="font-weight-bold">ヲタピックについて</span>
            <hr class="my-1 mr-4 mr-lg-0">
            <li>
              <a href="{% url 'top' %}#howto">つかい方</a>
            </li>
            <li>
              <a href="{% url 'support' %}">サポート</a>
            </li>
            <li>
              <a href="{% url 'support' %}#contact_info">お問い合わせ</a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/otapick">公式Twitter<i
                  class="fas fa-external-link-alt"></i></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </footer>
  <div class="col-12 text-center py-4 text-muted" id="copyright">
    <p class="small">Copyright &copy; otapick 2020 All rights reserved.</p>
  </div>

  <!-- autocomplete -->
  <script type="text/javascript" src="{% static 'js/otapick/autocomplete.js' %}"></script>

  <!-- Masonry -->
  <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

  <script src="{% static 'js/otapick/base.js' %}{{ static_update }}"></script>

  {% block extra_js %}{% endblock %}
</body>

</html>