{% load static %}

<title>
{% if blog %}
  {{ blog.title }}({{ blog.writer.full_kanji }})｜ヲタピック
{% else %}
  画像保存｜ヲタピック
{% endif %}
</title>

<div class="main-download">
  <div class="container mt-3 text-muted">
    <div class="row d-flex align-items-center mx-2">
      <button onClick="history.back()" type="button" class="btn btn-light rounded-circle p-0 otapick-back-button-mobile border shadow-sm back-from-download">
        <i class="fas fa-arrow-left" style="color:gray;"></i>
      </button>
      <h4 class="ml-3 my-0">保存</h4>
    </div>

    <div class="card my-3 otapick-card2-mobile px-2">
      <div class="card-body">
        <h4>{{ blog.title }}</h4>
        <div class="row download-info-mobile mt-3">
          <a href="{% url 'search:searchByMembers' group_id blog.writer.ct %}"
            class="card-text ml-3 small {{ group }}">{{ blog.writer.full_kanji }}</a>
          <p class="card-text ml-3 small">{{ blog.post_date|date:"Y/n/j(D) f" }}</p>
        </div>
        <hr>
        <div class="row ml-2">
          <div class="row col-12 download-info-mobile2 mb-3">
            <div class="d-flex align-items-center" data-toggle="tooltip" title="閲覧数">
              <i class="fas fa-eye" style="color: grey"></i>
            </div>
            &nbsp;
            <div>
              {% if blog.num_of_views %}
                {{ blog.num_of_views }}
              {% else %}
                0
              {% endif %}
            </div>

            <div class="d-flex align-items-center ml-3" data-toggle="tooltip" title="総ダウンロード数">
              <i class="fas fa-download" style="color: grey"></i>
            </div>
            &nbsp;
            <div>
              {% if blog.num_of_downloads %}
                {{ blog.num_of_downloads }}
              {% else %}
                0
              {% endif %}
            </div>
          </div>

          <div class="download-info-mobile2 col-12 px-0">
            公式：
            {% if group_id == 1 %}
            <a class="keyaki" target="_blank"
              href="https://www.keyakizaka46.com/s/k46o/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member">
              <i class="fas fa-external-link-alt"></i>keyakizaka46.com
            </a>
            {% elif group_id == 2 %}
            <a class="hinata" target="_blank"
              href="https://www.hinatazaka46.com/s/official/diary/detail/{{ blog.blog_ct }}?ima=0000&cd=member">
              <i class="fas fa-external-link-alt"></i>hinatazaka46.com
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% if blog_images %}
    <div class="alert alert-success mt-3" role="alert">
      画像を長押しして保存をおこなってください。
    </div>
    <div class="container">
      <div class="row text-center">
        {% for blog_image in blog_images %}
        <div style="padding-bottom:10%;">
          <img src="{{ blog_image.picture.url }}" class="img-thumbnail shadow" id="img{{ blog_image.order }}"
               data-group_id="{{ group_id }}" data-blog_ct="{{ blog_ct }}">
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        画像が見つかりませんでした。
    </div>
    <p class="mx-2">
      申し訳ございませんが、指定されたブログから画像が見つかりませんでした。
    </p>
    <div class="row justify-content-center">
      <div class="notFoundBox col-12 col-md-10 col-xl-8" style="background-image: url({% static 'img/imageNotFound.png' %});"></div>
    </div>
    {% endif %}

    <div class="mx-auto" style="width: 100px;">
      {% if group_id == 1 %}
      <a href="javascript:history.back()" class="gradient-btn keyaki back-from-download" style="width: 100px;">
        <b>戻る</b>
      </a>
      {% elif group_id == 2 %}
      <a href="javascript:history.back()" class="gradient-btn hinata back-from-download" style="width: 100px;">
        <b>戻る</b>
      </a>
      {% endif %}
    </div>

    {% if blog %}
    <div class="card otapick-card2-mobile mt-4 p-2">
      <div class="card-body">
        <p>引き続き保存を続けますか？</p>
        {% if group_id %}
        <p style="color: gray;">-{{ blog.writer.last_kanji }} {{ blog.writer.first_kanji }}の他のブログを探す場合は
          <a href="{% url 'search:searchByMembers' group_id blog.writer.ct %}">こちら</a>。
        </p>
        <p style="color: gray;">-{% if group_id == 1 %}欅坂46{% elif group_id == 2 %}日向坂46{% endif %}のブログ一覧は
          <a href="{% url 'search:searchByGroups' group_id %}">こちら</a>。
        </p>
        <p style="color: gray;">-{% if group_id == 1 %}欅坂46{% elif group_id == 2 %}日向坂46{% endif %}のメンバーから探す場合は
          <a href="{% url 'search:memberList' %}?group={{ group_id }}">こちら</a>。
        </p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="ajax-script" id="download_mobile_ajax-script">
  <script type="text/javascript" src="{% static 'js/jquery.longpress.js' %}"></script>
  <script>
    $(function () {
        $("footer").show();
        $("#copyright").show();
        $(".fixed-top").removeClass("shadow");
    })
  </script>
  <script type="text/javascript" src="{% static 'js/otapick/download/download_mobile.js' %}"></script>
</div>