{% extends 'base.html' %}

{% load static %}

{% block title %}画像保存{% endblock %}

{% block extra_css %}
<!-- 最後にminして -->
  <link rel="stylesheet" href="{% static 'css/test.css' %}">
  <style>
  .ui-autocomplete{
    z-index: 1051;
  }
  </style>
{% endblock %}

{% block content %}
  <!-- Masthead -->
<div class="{{ group }}">
  <header class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>
            画像保存
          </h1>
        </div>
      </div>
    </div>
  </header>
</div>

  <!-- Download -->
  <div class="container text-muted">
  <div class="otapick_card_back_left">
      <div class="otapick_card_left {{ group }}">
    <div class="card my-5">

    {% if blog_images %}
    <form action="{% url 'download:download' group_id blog_ct %}" method="POST" id="download">
      <div class="card-header">
        <div class="row">
          <h3 class="ml-3">保存</h3>
          <div class="ml-auto" style="width: 110px;">
            <div class="btn-group">
              <div class="save_btn">
                <button type="submit" class="btn {{ group }} save_button" style="border-radius: 10px 0 0 10px / 10px 0 0 10px;">
                  保存
                </button>
              </div>
              <div class="save_btn">
                <button type="button" class="btn {{ group }} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" style="border-radius: 0 10px 10px 0 / 0 10px 10px 0;">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <button type="submit" class="dropdown-item save_button">選択保存</button>
                  <div class="dropdown-divider"></div>
                  <button type="submit" class="dropdown-item save_button" id="allDownload">すべて保存</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="jumbotron jumbotron-fluid py-4">
          <div class="container">
              {% if blog %}
                <h4 class="">{{ blog.title }}</h4>
                <p>{{ blog.writer.last_kanji }} {{ blog.writer.first_kanji }}</p>
              {% endif %}
            <hr class="mb-2">
            <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-10 alert alert-danger py-1 mb-0" role="alert" id="choice_image" style="display:none;">
                    画像を選択してください。
                    </div>
                    <div class="col-md-3 col-lg-2 ml-auto" style="width: 130px;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="allCheck">
                        <label class="custom-control-label" for="allCheck">すべて選択</label>
                      </div>
                    </div>
                    </div>
              </div>
          </div>
        </div>

        <div class="container">
          <div class="row text-center">

            <!-- imgとcbのid設定注意 -->
              {% if blog_images %}
                  {% for blog_image in blog_images %}
                      <div class="col-6 col-md-4 col-lg-3 mb-5">
                          <div class="row">
                            <div class="mx-auto image-box" style="position: relative; cursor : pointer;">
                              <div class={{ group }}>
                                <div class="thumbnail img-thumbnail"
                                  style="background: url({{ blog_image.picture.url }});background-size: cover;
                                          background-position: center;" id="img{{ blog_image.order }}">
                                </div>
                              </div>
                              <input class="save_img_checkbox" style="position: absolute;" type="checkbox" id="cb{{ blog_image.order }}"
                                onchange="checkFunc(this.id)" name="zip" value="{{ blog_image.pk }}" />
                            </div>
                          </div>
                        </div>
                  {% endfor %}
              {% endif %}
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="mx-auto" style="width: 150px;">
          <div class="row">
            <div class="outline">
              <a href="javascript:history.back()" class="btn {{ group }} mr-3" style="">
                <span style="">戻る</span>
              </a>
            </div>
            <div class="btn-group">
              <div class="save_btn">
                <button type="submit" class="btn {{ group }} save_button" style="border-radius: 10px 0 0 10px / 10px 0 0 10px;">
                  保存
                </button>
              </div>
              <div class="save_btn">
                <button type="button" class="btn {{ group }} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" style="border-radius: 0 10px 10px 0 / 0 10px 10px 0;">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <button type="submit" class="dropdown-item save_button">選択保存</button>
                  <div class="dropdown-divider"></div>
                  <button type="submit" class="dropdown-item save_button" id="allDownload2">すべて保存</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% csrf_token %}
    </form>
    {% else %}
        <div class="card-header">
      <div class="row">
        <h3 class="ml-3">保存</h3>
      </div>
    </div>
    <div class="card-body">
      <div class="jumbotron jumbotron-fluid py-4">
        <div class="container">
          {% if blog %}
          <h4 class="">{{ blog.title }}</h4>
          <hr class="mb-2">
          <div class="mb-0">
            <p>{{ blog.writer.last_kanji }} {{ blog.writer.first_kanji }}</p>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="container">
        <div class="row text-center">
          {% if blog_images %}
              {% for blog_image in blog_images %}
              <div style="padding-bottom:10%;">
                <img src="{{ blog_image.picture.url }}" class="img-thumbnail shadow">
              </div>
              {% endfor %}
          {% else %}
              <div class="container">
                <div class="alert alert-danger text-left mx-auto" role="alert">
                  <h5 class="alert-heading">画像が検出されませんでした。</h5>
                  <p>画像が含まれたブログを選択してください。</p>
                </div>
              </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="outline">
        <a class="btn {{ group }} mr-3" href="javascript:history.back()" role="button">
          <span>戻る</span>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
  </div>
  </div>

    <!-- Modal -->
  <div class="modal hide fade" id="download_complete" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">保存完了</h5>
        </div>
        <div class="modal-body">
          <p>ダウンロードダイアログにしたがって、画像を保存してください。</p>
          <p>引き続き保存を続けますか？</p>
          <p style="color: gray;">-{{ blog.writer.last_kanji }} {{ blog.writer.first_kanji }}の他のブログを探す場合は
            <a href="{% url 'search:searchByMembers' group_id blog.writer.ct %}">こちら</a>。
          </p>
          <form autocomplete="off">
            <div class="form-row">
              <div class="col-10 mb-2 mb-0">
                <input class="form-control autocomplete" placeholder="Search" name="q">
              </div>
              <div class="col-2">
                <div class="search_btn_min col-xs-12">
                  <button type="submit" class="btn my-0 px-3 {{ group }}">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="outline">
              <a class="btn {{ group }}" href="javascript:history.back()" role="button">
                <span>戻る</span>
              </a>
          </div>
          <div class="rounded ml-3">
            <a class="btn {{ group }}" href="{% url 'top:top' %}" role="button">
              <span>トップ</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}

  <script>
    function checkFunc(id) {
      const idNum = id.replace(/[^0-9]/g, '');
      if (!$('.save_img_checkbox#cb' + idNum).prop("checked")) {
        $('div.thumbnail#img' + idNum).removeClass('checked');
      } else {
        $('div.thumbnail#img' + idNum).addClass('checked');
      }
    }

    $(function () {
      $('div.thumbnail').on('click', function () {
          const id = $(this).attr("id");
          const idNum = id.replace(/[^0-9]/g, '');

        if (!$(this).is('.checked')) {
          $(this).addClass('checked');
          $('.save_img_checkbox#cb' + idNum).prop("checked", true);
        } else {
          $(this).removeClass('checked')
          $('.save_img_checkbox#cb' + idNum).prop("checked", false);
        }
      });

      $('#allCheck').on('click', function () {
        if (!$(this).prop("checked")) {
          $('div.thumbnail').removeClass('checked');
          $('.save_img_checkbox').prop("checked", false);
        } else {
          $('div.thumbnail').addClass('checked');
          $('.save_img_checkbox').prop("checked", true);
        }
      });
      $('#allDownload, #allDownload2').on('click', function () {
          $('div.thumbnail').addClass('checked');
          $('.save_img_checkbox').prop("checked", true);
          $('#allCheck').prop("checked", true);
      });
    });

    $(function () {
        let changeForm = true;
        $(window).on('beforeunload', function () {
        if (changeForm) return '保存が完了していません。このページを離れます。';
      });
      $('.save_button').on('click', function () {
        changeForm = false;
      });
    });

    $('#download').submit(function (event) {
        event.preventDefault();
        const check_count = $('.image-box :checked').length;
        if (check_count === 0) {
            $("#choice_image").show();
            return false;
        }else {
            $(this).off('submit');
            $(this).submit();
            $("#choice_image").hide();
            $('#download_complete').modal('show');
        }
    });

  </script>
{% endblock %}