{% extends 'base.html' %}

{% load static %}

{% block title %}
  {% if blog %}
    {{ blog.title }}
  {% else %}
    画像保存
  {% endif %}
{% endblock %}

{% block content %}
<!-- Masthead -->
  <div class="{{ group }}">
    <header class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1>
              画像保存
            </h1>
          </div>
        </div>
      </div>
    </header>
  </div>

<!-- Save -->
<div class="container text-muted">
  {% if blog_images %}
    <div class="alert alert-success mt-3" role="alert">
      画像を長押しして保存をおこなってください。
    </div>
  {% endif %}

  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card mb-5 mt-3 border border-top-0">
        <div class="card-body">
          <h3 class="ml-3">保存</h3>
          <hr>
          {% if blog %}
          <div class="jumbotron jumbotron-fluid py-4">
            <div class="container">
              <h4 class="">{{ blog.title }}</h4>
              <hr class="mb-2">
              <div class="mb-0">
                <p>{{ blog.writer.last_kanji }} {{ blog.writer.first_kanji }}</p>
              </div>
            </div>
          </div>
            {% if blog_images %}
              <div class="container">
                <div class="row text-center">
                  {% for blog_image in blog_images %}
                    <div style="padding-bottom:10%;">
                      <img src="{{ blog_image.picture.url }}" class="img-thumbnail shadow">
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div class="container">
                <div class="alert alert-danger" role="alert">
                  画像が見つかりませんでした。
                </div>
                <p>
                  申し訳ございませんが、指定されたブログから画像が見つかりませんでした。
                </p>
                <div class="row justify-content-center">
                  <div class="notFoundBox col-12 col-md-10 col-xl-8" style="background-image: url({% static 'img/imageNotFound.png' %});"></div>
                </div>
              </div>
            {% endif %}
        {% else %}
          <div class="container">
            <div class="alert alert-danger" role="alert">
              ブログが見つかりませんでした。
            </div>
            <p>
              申し訳ございませんが、指定されたブログが見つかりませんでした。<br>
              入力されたURLが間違っているか、公式サイトからブログが削除された可能性があります。
            </p>
            {% if group_id %}
              <p style="color: gray;">-{% if group_id == 1 %}欅坂46{% elif group_id == 2 %}日向坂46{% endif %}のメンバーから探す場合は
                <a href="{% url 'search:memberList' %}?group={{ group_id }}">こちら</a>。
              </p>
            {% endif %}
            <div class="row justify-content-center">
              <div class="notFoundBox col-12 col-md-10 col-xl-8" style="background-image: url({% static 'img/blogNotFound.png' %});"></div>
            </div>
          </div>
        {% endif %}
        </div>

        <div class="card-footer text-center">
          <div class="row justify-content-center">
            <div class="outline">
                <a class="btn {{ group }}" href="javascript:history.back()" role="button">
                  <span>戻る</span>
                </a>
            </div>
            <div class="rounded ml-3">
              <a class="btn {{ group }}" href="{% url 'top:top' %}" role="button">
                <span>トップ</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% if blog %}
  <div class="otapick_card_back">
    <div class="otapick_card {{ group }}">
      <div class="card mb-5 border border-top-0">
        <div class="card-body">
          <p>引き続き保存を続けますか？</p>
          {% if group_id %}
          <p style="color: gray;">-{{ blog.writer.last_kanji }} {{ blog.writer.first_kanji }}の他のブログを探す場合は
            <a href="{% url 'search:searchByMembers' group_id blog.writer.ct %}">こちら</a>。
          </p>
          <p style="color: gray;">-{% if group_id == 1 %}欅坂46{% elif group_id == 2 %}日向坂46{% endif %}のブログ一覧は
            <a href="{% url 'search:searchByGroups' group_id %}">こちら</a>。
          </p>
          <p style="color: gray;">-{% if group_id == 1 %}欅坂46{% elif group_id == 2 %}日向坂46{% endif %}のメンバーから探す場合は
            <a href="{% url 'search:memberList' %}?group={{ group_id }}">こちら</a>。
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>


{% endblock %}

<script>
  {% if blog %}
  // ページ遷移確認
  let changeForm = true;
  $(window).on('beforeunload', function () {
    if (changeForm) return '保存が完了していません。このページを離れます。';
  });
  $('.save_button').on('click', function () {
    changeForm = false;
  });
  {% endif %}
</script>